<footer class="footer">
  <section class="footer__section1">
    <h4 class="footer__section1--h4">Tienda</h4>
    <nav class="footer__section1--nav">
      <ul>
        <a class="adalab" href="https://adalab.es/">
          <li>Productos</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Cajoneras</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Para toda la casa</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Habitaciones</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="footer__section2">
    <h4 class="footer__section2--h4">Nosotros</h4>

    <nav class="footer__section2--nav">
      <ul>
        <a class="adalab" href="https://adalab.es/">
          <li>Nuestra guía</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Nuestro diseño</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Nuestra historia</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>Ayuda</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="footer__section3">
    <h4 class="footer__section3--h4">Contacto</h4>
    <ul class="footer__section3--list">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>

    <nav class="footer__section3--nav">
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </nav>
  </section>

  <a href="#" class="up"><i class="fa-solid fa-arrow-up-long"></i></a>
</footer>
