<footer class="footer">
  <section class="footer__section1">
    <h4 class="footer__section1--h4">tienda</h4>
    <nav class="footer__section1--nav">
      <ul>
        <a class="adalab" href="https://adalab.es/">
          <li>productos</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>cajoneras</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>para toda la casa</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>habitaciones</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="footer__section2">
    <h4 class="footer__section2--h4">nosotros</h4>

    <nav class="footer__section2--nav">
      <ul>
        <a class="adalab" href="https://adalab.es/">
          <li>nuestra guía</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>nuestro diseño</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>nuestra historia</li>
        </a>
        <a class="adalab" href="https://adalab.es/">
          <li>ayuda</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="footer__section3">
    <h4 class="footer__section3--h4">contacto</h4>
    <ul class="footer__section3--list">
      <li>ayuda@openspaces.com</li>
      <li>socios</li>
    </ul>

    <nav class="footer__section3--nav">
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="media" href="https://adalab.es/"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </nav>
  </section>

  <a href="#top" class="up"><i class="fa-solid fa-arrow-up-long"></i></a>
</footer>
