<section class="wrapper2">
  <div class="wrapper2__text">
    <h3 class="wrapper2__text--h3">disfruta creando espacios</h3>
    <p class="wrapper2__text--p">
      una linea de productos diseñados para todos tus espacios
    </p>
    <button class="wrapper2__text--button">comprar ahora</button>
  </div>
  <div class="wrapper2__image">
    <img
      class="wrapper2__image--photo"
      src="./assets/images/creando-espacios.jpg"
      alt="toilet-roll basket picture"
    />
  </div>
</section>
