<div class="wrapper2">
  <section class="wrapper2__text">
    <h3 class="wrapper2__text--h3">Disfruta creando espacios</h3>
    <p class="wrapper2__text--p">
      Una linea de productos diseñados para todos tus espacios
    </p>
    <button class="wrapper2__text--button">Comprar Ahora</button>
  </section>
  <section class="wrapper2__image">
    <img
      class="wrapper2__image--photo"
      src="./assets/images/creando-espacios.jpg"
      alt="toilet-roll basket picture"
    />
  </section>
</div>
