<header class="header">
    <a href="https://adalab.es/" title="Pagina de ADALAB" class="header__link"><i class="fa-solid fa-bars"></i></a>


   <nav class="header__menu">
      <ul class="header__menu--container">
         <li>Productos</li>
         <li>Colecciones</li>
         <li>Tienda</li>
         <li>Inicio</li>
      </ul>
   </nav>
    <img class="header__logo" src="./assets/images/logo.png" alt="header logo"></img>
    
    <section class="header__section">
       <h1 class="header__section--title">Disfruta creando espacios</h1>
       <button class="header__section--button">Comprar ahora</button>
    </section>
  </header>