<section class="wrapper1">
  <h2 class="wrapper1__h2">
    Volverse organizado se siente mejor con OPEN SPACES
  </h2>

  <section class="wrapper1__section1">
    <img
      class="wrapper1__furniture"
      src="./assets/images/icon_1.png"
      alt="furniture icon"
    />
    <h3 class="wrapper1__section1--title">Lo que necesitas</h3>
    <p class="wrapper1__section1--text">
      Una linea de productos diseñados para todos tus espacios
    </p>
  </section>

  <section class="wrapper1__section2">
    <img
      class="wrapper1__bag"
      src="./assets/images/icon_2.png"
      alt="bag icon"
    />
    <h3 class="wrapper1__section2--title">Materias primas sustentables</h3>
    <p class="wrapper1__section2--text">
      Todos los productos con materias primas sustentables
    </p>
  </section>

  <section class="wrapper1__section3">
    <img
      class="wrapper1__tent"
      src="./assets/images/icon_3.png"
      alt="tent icon"
    />
    <h3 class="wrapper1__section3--title">Guia</h3>
    <p class="wrapper1__section3--text">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </section>
</section>
