<section class="wrapper1">
  <h2 class="wrapper1__h2">
    volverse organizado se siente mejor con
    <span class="wrapper1__h2--open">open spaces</span>
  </h2>

  <section class="wrapper1__section1">
    <img
      class="wrapper1__section1--furniture"
      src="./assets/images/icon_1.png"
      alt="furniture icon"
    />
    <h3 class="wrapper1__section1--title">lo que necesitas</h3>
    <p class="wrapper1__section1--text">
      una linea de productos diseñados para todos tus espacios
    </p>
  </section>

  <section class="wrapper1__section2">
    <img
      class="wrapper1__section2--bag"
      src="./assets/images/icon_2.png"
      alt="bag icon"
    />
    <h3 class="wrapper1__section2--title">materias primas sustentables</h3>
    <p class="wrapper1__section2--text">
      todos los productos con materias primas sustentables
    </p>
  </section>

  <section class="wrapper1__section3">
    <img
      class="wrapper1__section3--tent"
      src="./assets/images/icon_3.png"
      alt="tent icon"
    />
    <h3 class="wrapper1__section3--title">guia</h3>
    <p class="wrapper1__section3--text">
      soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </section>
</section>
