
.wrapper2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: $backgroundColor;
    color: $colorGreen;
    width: 100vw;

    @media all and (min-width: 1728px){
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: 1fr;

    }

    
    

    &__text{
        justify-content: center;
        align-self: center;
        align-items: center;
        text-align: center;
        line-height: normal;
        margin: 0 27px 0 27px;
        width: 100%;

        

        &--h3{
            font-size: 24px;
            font-weight: 600;

            @media all and (min-width:900px){
                font-size: 30px;
            }

            @media all and (min-width: 1728px){
                font-size: 36px;
            }
        }

        &--p{
            font-size: 14px;
            padding-bottom: 30px;

            @media all and (min-width: 1728px){
                font-size: 16px;
            }
        }


        &--button:hover{

            color:$colorGreen;
            background-color: $colorHover;
            font-size: 20px;
          }


        &--button{
            color: white;
            height: 48px;
            width: 176px;
            background-color: $colorGreen;
            font-size: 16px;
            font-weight: 600;
            border: none;
        }

        
    }

    
    

    &__image--photo{
        width:100%;
    }
        
    
}