
.wrapper2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: $backgroundColor;
    color: $colorGreen;
    

    @media all and (min-width: 900px){
        grid-template-rows: 1fr 2fr;
    }

    @media all and (min-width: 1728px){
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: 1fr;

    }

    
    

    &__text{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        align-items: center;
        text-align: center;
        line-height: normal;
        width: 360px;

        @media all and (min-width:900px) {
            width: 430px;
        }

        @media all and (min-width: 1728px) {
            text-align: left;
            align-items: flex-start;
    
        }
        

        

        &--h3{
            font-size: 24px;
            font-weight: 600;

            @media all and (min-width:900px){
                font-size: 30px;
            }

            @media all and (min-width: 1728px){
                font-size: 36px;

            }
        }

        &--p{
            font-size: 14px;
            padding-bottom: 30px;

            @media all and (min-width: 900px) {
                width: 400px;
            }

            @media all and (min-width: 1728px){
                font-size: 16px;
                width: 281px;
            }
        }


        &--button:hover{

            color:$colorGreen;
            background-color: $colorHover;
            font-size: 20px;
          }


        &--button{
            color: white;
            height: 48px;
            width: 176px;
            background-color: $colorGreen;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            border: none;
        }

        
    }

    
    

    &__image--photo{
        width: 100%;
    }
        
    
}