
.header {
  
  background: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  
  @media all and(min-width: 900px){
  
    justify-content: left;
     }

  &__menu{
    display:none;

    @media all and (min-width:1728px){
      display: flex;
      
      &--container{
        display: flex;
        width: 424px;
        color: $colorGreen;
        font-size: 16px;
        font-weight: normal;
        text-transform: capitalize;
        gap: 30px;
        position: absolute;
        top: 76px;
        left: 280px;

      }
    }
  }


  &__link {
    color:black;
    width: 24px;
    height: 24px;
    position: fixed;
    top: 55px;
    left: 33px;

    
    @media all and (min-width:900px){
      top: 81px;
      left: 85px;

    }

    @media all and (min-width: 1728px) {
      display:none;
    }

      
  }

  
  
  &__logo{
      
      width: 213px;
      height: 96px;
      left: 100px;
      right: 100px;
      margin-top: 19px;

      @media all and (min-width:900px){
       
          position: absolute;
          left: 50%;
          top: 49px;
          transform: translate(-50%, -50%);
        }

      }
      
  

  &__section{
      
      position: absolute;
      top: 177px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 160px;

      @media all and (min-width: 900px){
        align-items: flex-start;
        margin-top: 120px;
        margin-left: 70px;

       }

      @media all and (min-width: 1728px){
        top: 400px;
        left: 210px;
      }

      
      &--title{
        font-size: 24px;
        color: $colorGreen;
        font-weight: 600;
        margin-bottom: 32px;
        
        @media all and (min-width:900px){
          font-size: 36px;
          max-width: 19ch;
          text-align: left;
        }
    }

      &--title::first-letter{
        text-transform: uppercase;
      }

    &--button:hover{

      color:$colorGreen;
      background-color: $colorHover;
      font-size: 20px;
    }
  
    &--button{
        color: white;
        height: 48px;
        width: 176px;
        background-color: $colorGreen;
        font-size: 16px;
        font-weight: 600;
        border: none;
      }

    &--button::first-letter{
      text-transform: uppercase;
    }

  }
      
}

   

    

      

      
        


       

        


     



