
.wrapper1 {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (7, 1fr);
    width: 100%;
    line-height: normal;
    color: $colorGreen;
    
    
   
    


    &__h2{
     font-size: 24px;
     font-weight: 600;
      text-align: center;
      margin: 41px 45px 37px 45px;
      width: 45%;
      max-width: 19ch;
      min-width: 19ch;
      justify-self:center;
      
    }

    &__furniture{
        justify-self: center;
        margin-bottom: 47px;
    }

    &__bag{
        justify-self: center;
        margin-bottom: 47px;
    }

    &__tent{
        justify-self: center;
        margin-bottom: 47px;
    }

    &__section1{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 105px;
        margin-right: 105px;
        
        

        &--title{
            font-size: 20px;
            color: $colorGreen;
            font-weight: 600;

         }

        &--text{
            font-size: 16px;
            text-align: center;
            

        }
     }





     &__section2{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 105px;
        margin-right: 105px;

        &--title{
            font-size: 20px;
            color: $colorGreen;
            font-weight: 600;
            text-align: center;
        }

        &--text{
            font-size: 16px;
            text-align: center;
        }
        
}
    &__section3{

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            margin-left: 105px;
            margin-right: 105px;
    
            &--title{
                font-size: 20px;
                color: $colorGreen;
                font-weight: 600;
                text-align: center;
            }
    
            &--text{
                font-size: 16px;
                text-align: center;
            }

     
}

@media all and (min-width: 900px) {

    .wrapper1{
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat( 3, 1fr);
    padding: 20px;

        &__h2{
            grid-column: 1/4;
            grid-row: 1/2;
            padding: 20px;
            max-width: 35ch;
            
        }

        &__furniture{

            grid-column: 1/2;
            grid-row: 2/3;
            
        }

        &__bag{
            grid-column: 2/3;
            grid-row: 2/3;
        }

        &__tent{
            grid-column: 3/4;
            grid-row: 2/3;
        }

        &__section1 {
            grid-column: 1/2;
            grid-row: 3/4;
            

            &--title{
                
            }
        }

        &__section2{
            grid-column: 2/3;
            grid-row: 3/4;
            
        }

        &__section3{
            grid-column: 3/4;
            grid-row: 3/4;
            
        }


}
}
    

}

