
.wrapper1 {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, 1fr);
    line-height: normal;
    color: $colorGreen;
    
    @media all and (min-width: 900px){

        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows: 150px 400px;
    }
    
    &__h2{
     font-size: 24px;
     font-weight: 600;
     text-align: center;
     margin: 41px 45px 37px 45px;
     width: 322px;
     justify-self:center;

        &--open{
        text-transform: uppercase;
      }

      @media all and (min-width: 900px){
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 20px;
        width: 535px;

        }

    @media all and (min-width: 1728px){
        font-size: 36px;
        width: 799px;
    }        
    }

    &__h2::first-letter{
        text-transform: uppercase;
    }


    &__section1{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 105px;
        margin-right: 105px;

        @media all and (min-width: 900px){
            grid-column: 1/2;
            grid-row: 2/3;
            gap: 10px;
        }
        
        &--title{
            font-size: 20px;
            color: $colorGreen;
            font-weight: 600;
            text-align: center;
            

            @media all and (min-width: 1728px){
                font-size: 24px;
            }

         }

        &--text{
            font-size: 16px;
            text-align: center;
           margin-right: auto;
           margin-left: auto;
        }
    }





     &__section2{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 105px;
        margin-right: 105px;

        @media all and (min-width: 900px){
            grid-column: 2/3;
            grid-row: 2/3;
            gap: 10px;
        }

        &--title{
            font-size: 20px;
            color: $colorGreen;
            font-weight: 600;
            text-align: center;

        }

        &--text{
            font-size: 16px;
            text-align: center;
        }

        &--bag{
            
            @media all and (min-width: 1728px){
                margin-bottom: 12px;
            }
        }
        
}
    &__section3{

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            margin-left: 105px;
            margin-right: 105px;

            @media all and (min-width: 900px){
                grid-column: 3/4;
                grid-row: 2/4;
                gap: 10px;

            }
    
            &--title{
                font-size: 20px;
                color: $colorGreen;
                font-weight: 600;
                text-align: center;
            }
    
            &--text{
                font-size: 16px;
                text-align: center;
            }
        
        }

}


    



